.butn {
    background-color: transparent;
    color: white;
    border: 0;
}

.head {
    background-color: rgb(128, 128, 128);
    font-family: cursive;
    color: white;
    font-size: large;
}

.butn-mr {
    margin-left: 25px;
}
.colOverall:hover {
    color: blue;
}

.col0 {
    text-align: right;
}

.col1 {
    text-align: left;
    font-size: larger;
}
.col2 {
    text-align: center;
}

.col5 {
    text-align: center;
}
.logo {
    width: 70px;
}

.bi {
    color: greenyellow;
}
/*------------------------------------- BENEFIT ------------------------------*/

.benefit {
    background-image: url('/img/london.png');
    /* background-color: aquamarine; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
}

.col-benefit-right {
    text-align: center;
    /* background-color: greenyellow; */
}

.col-benefit-left {
    text-align: center;
}

.cart-header-style {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card-text-centr {
    color: black;
    font-weight: 500;
}

.btn-hd {
    border-radius: 20px;
    font-family: sans-serif;
    font-size: 20px;
    border: none;
}

@keyframes glowing {
    0% {
        background-color: #2ba805;
        box-shadow: 0 0 5px #2ba805;
    }
    50% {
        background-color: #49e819;
        box-shadow: 0 0 20px #49e819;
    }
    100% {
        background-color: #2ba805;
        box-shadow: 0 0 5px #2ba805;
    }
}

.btn-hd {
    animation: glowing 1300ms infinite;
}

/* ----------------------------------------------------MAIN CAROUSEL----------------------------------------- */

.hd-crs {
    text-align: center;
    margin-top: 20px;
    /* background-color: bisque; */
}

.col-hd-crs {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}

.span-hd-crs {
    color: red;
}

.context-hd-crs {
    font-weight: 500;
    color: rgba(92, 86, 86, 0.568);
}

.arrows {
    text-align: center;
    margin-top: 20px;
}

.carousel-arrows {
    padding-top: 6px;
    border: none;
    background-color: rgb(128, 128, 128);
    border-radius: 14px;
}

.test {
    /* min-width: 200px; */
    /* display: flex; */
    /* flex-direction: ; */
}

#carouselExampleControls {
    margin-top: 30px;
}
.col-crsl {
}

.crd-crsl {
    text-align: center;
    border-radius: 20px;
}
