.butn {
    background-color: transparent;
    color: white;
    border: 0;
}

.head {
    background-color: rgb(128, 128, 128);
    font-family: cursive;
    color: white;
    font-size: large;
}

.butn-mr {
    margin-left: 25px;
}
.colOverall:hover {
    color: rgba(0, 0, 255, 0.568);
}

.col0 {
    text-align: right;
}

.col1 {
    text-align: left;
    font-size: larger;
}
.col2 {
    text-align: center;
}

.col5 {
    text-align: center;
}
.logo {
    width: 70px;
}

.bi {
    color: greenyellow;
}
/*------------------------------------- HEADER MAIN ------------------------------*/

.hdr {
    background-image: url('/img/london.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
}

.col-hdr-right {
    text-align: center;
}

.col-hdr-left {
    text-align: center;
}

.cart-header-style {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card-text-centr {
    color: black;
    font-weight: 500;
}

.btn-hd {
    border-radius: 20px;
    font-family: sans-serif;
    font-size: 20px;
    border: none;
}

@keyframes glowing {
    0% {
        background-color: #2ba805;
        box-shadow: 0 0 5px #2ba805;
    }
    50% {
        background-color: #49e819;
        box-shadow: 0 0 20px #49e819;
    }
    100% {
        background-color: #2ba805;
        box-shadow: 0 0 5px #2ba805;
    }
}

.btn-hd {
    animation: glowing 1300ms infinite;
}

/* ----------------------------------------------------MAIN COURSES----------------------------------------- */

.card-carousesl-img {
    height: 200px;
}

.card-style-text {
    line-height: 1.2;
}

.hd-crs {
    text-align: center;
    margin-top: 20px;
    /* background-color: bisque; */
}

.col-hd-crs {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}

.span-hd-crs {
    color: red;
}

.context-hd-crs {
    font-weight: 500;
    color: rgba(92, 86, 86, 0.568);
}

.arrows {
    text-align: center;
    margin-top: 20px;
}

.carousel-arrows {
    padding-top: 6px;
    border: none;
    background-color: rgba(128, 128, 128, 0.63);
    border-radius: 14px;
}

.carousel-arrows:hover {
    background-color: rgba(0, 0, 255, 0.568);
}

.arrow-control-left {
    background-image: url('/img/left-arrow.png');
    width: 30px;
}

.arrow-control-right {
    background-image: url('/img/right-arrow.png');
    width: 30px;
}

#carouselExampleControls {
    margin-top: 30px;
}
.col-crsl {
    text-align: center;
    max-width: 350px;
}

.crd-crsl {
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    max-width: 230px;
    background-color: rgba(194, 180, 190, 0.26);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.btn-primary {
    border-radius: 15px;
}

.but-crsl {
    position: absolute;
    margin-left: -82px;
    padding-top: 2px;
    width: 170px;
    bottom: 10px;
    border: none;
    background-color: #e64545;
}

.but-crsl:hover {
    background-color: rgba(0, 0, 255, 0.568);
}
/* ----------------------------------------------------MAIN BENEFITS----------------------------------------- */

.cont-benefits {
    background-image: url('/img/workIOnline.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
    margin-top: 20px;
}

.row-first-benefits {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    color: black;
}

.col-title {
    overflow-wrap: break-word;
}

.span-benefits {
    color: red;
}

.context-benefits {
    font-size: 15px;
    color: rgba(92, 86, 86, 0.767);
}

.block-one-benefits {
    /* background-color: brown; */
}

.block-two-benefits {
    margin-left: 40px;
    /* background-color: burlywood; */
}

.block-three-benefits {
    margin-left: 40px;
    margin-top: 40px;
    /* background-color: cornflowerblue; */
}

.block-one-benefits,
.block-two-benefits,
.block-three-benefits {
    background-image: url('/img/BG.jpg');
    border-radius: 10px;
    margin-top: 30px;
    color: white;
    max-width: 270px;
    max-height: 270px;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 20px 20px 20px 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
}

.block-one-benefits p {
    margin-top: 10px;
    line-height: 1.1;
    font-size: 13px;
}

.block-two-benefits p {
    margin-top: 10px;
    line-height: 1.1;
    font-size: 13px;
}
.block-three-benefits p {
    margin-top: 10px;
    line-height: 1.2;
    font-size: 13px;
}

.test {
    /* background-color: crimson; */
}
